body {
  background-color: #000000;
opacity: 1;
background-image:  linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77);
background-size: 32px 56px;
background-position: 0 0, 0 0, 16px 28px, 16px 28px, 0 0, 16px 28px;
}

.title1 {
  color: red;
  margin: auto;
}

.box1 {
  position: relative;
  background-color: black;
  width: 900px;
  height: 900px;
  left: 20%;
  top: 100px;
  border-radius: 20%;
  border: 5px solid blue;
  opacity: 1000;
}

.container {
  position: relative;
  left: 10%;
  top: 10%;
  display: grid;
  height: 80%;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  outline: 5px dotted yellow;
  
}

.item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
  
}

.item1:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item2:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item3:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item4:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item5 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item5:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item6 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item6:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item7 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item7:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item8 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item8:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item9 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item9:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item10 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item10:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item11 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item11:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item12 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item12:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item13 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item13:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item14 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item14:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item15 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item15:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item16 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item16:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item17 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item17:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item18 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item18:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item19 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item19:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item20 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item20:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item21 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item21:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item22 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item22:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item23 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item23:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item24 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item24:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.item25 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item25:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}

.tileText:hover {
  transform: rotateY(180deg);
}

