body {
  background: black;
}

.title1 {
  color: red;
}

.box1 {
  position: relative;
  background-color: gray;
  width: 900px;
  height: 900px;
  left: 20%;
  top: 100px;
  border-radius: 20%;
  border: 5px solid blue;
}

.container {
  position: relative;
  left: 10%;
  top: 10%;
  display: grid;
  height: 80%;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  outline: 5px dotted yellow;
  
}

.item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item1:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item2:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item3:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item4:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item5 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item5:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item6 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item6:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item7 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item7:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item8 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item8:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item9 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item9:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item10 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item10:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item11 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item11:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item12 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item12:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item13 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item13:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item14 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item14:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item15 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item15:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item16 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item16:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item17 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item17:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item18 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item18:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item19 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item19:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item20 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item20:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item21 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item21:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item22 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item22:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item23 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item23:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item24 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item24:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}

.item25 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #222;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
}

.item25:hover {
  background-color: green;
  box-shadow: 2px 2px 2px 2px green;
}